<div class="container-fluid">

  <div class="row profile-navbar">
    <div class="col-md-12 ml-auto padding-0">
      <div class="profile-tabs">
        <ul class="tabs-holder">
          <li class="tab"><a href="#" [routerLink]="['/app/dashboard']">Dashboard</a></li>
          <li class="tab"><a href="#" class="selected" [routerLink]="['/app/students-list']">Institutions</a></li>
          <!-- <li class="tab"><a href="#" [routerLink]="['/app/profile']">Profile</a></li> -->
        </ul>
      </div>
    </div>
  </div>


  <div class="row mb-4">


    <div class="ranking-holder">


      <div class="left-section pl-4 pr-4" [@cardAnimation1]>
        <div class="card table-wrapper mt-4">
          <h4 class="heading">Institutions</h4>
          <button *ngIf="isAdmin == 'true'" class="button upload-button">Upload Data</button>
          <input *ngIf="isAdmin == 'true'" type="file" class="button upload-button transparent" (change) = "uploadFile()" >
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Location</th>
                <th>Rank</th>

              </tr>

            </thead>
            <tbody>
              <tr class="cursor-pointer" *ngFor="let institution of institutionList; let i = index"
                (click)="openDetailsOnRight(institution)" [class.tr-selected]="selectedInstitution?.university == institution.university">
                <td>
                  <img class="profile-image"
                    src="assets/icons/i{{(i+1)%7}}.svg">
                  
                  {{institution?.university}}
                </td>
                <td>{{institution?.univcode}}</td>
                <td>{{institution?.location}}</td>
                <td>{{i+1}}</td>
                <!--  <td>
                  <img class="align-center" src="assets/loader-heavy.svg" *ngIf="!student.prediction" height="30"
                    width="30">
                  <span class="badge status-{{student?.prediction}}"
                    *ngIf="student.prediction">{{student?.prediction}}</span>
                  
                </td> -->
              </tr>
              <tr *ngIf="institutionList?.length == 0 && isLoaded">
                <td colspan="4" class="table-no-data">
                  No data available to display
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="right-section padding-0" [class.show]="isRightSectionOpen">
        <div class="card margin-0 map-wrapper" *ngIf="isRightSectionOpen" [@slideInFromRight]>
          <div class="close-icon" (click)="closeDetailsOnRight()" *ngIf="isRightSectionOpen">
            <img class="close-image" src="assets/icons/close.svg">
          </div>

          <div class="header">
            {{selectedInstitution?.university}}
          </div>
          <div class="progress-container mt-4" *ngIf="selectedInstitution">
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.education" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Education</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.entrepreneurship" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Entrepreneurship</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.research" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Research</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.infrastructure" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Infrastructure</h5>
              </div>
              
            </div>

          <div class="map-area">
            <agm-map *ngFor="let data of location; let i=index" [latitude]="data.lat" [longitude]="data.lng">
              <agm-marker *ngFor="let data of location; let i=index" [latitude]="data.lat" [longitude]="data.lng">
              </agm-marker>
            </agm-map>
          </div>

          




        </div>


      </div>
    </div>


  </div>
</div>