<div class="container-fluid">

  <div class="row profile-navbar">
    <div class="col-md-12 ml-auto padding-0">
      <div class="profile-tabs">
        <ul class="tabs-holder">
          <li class="tab"><a href="#" [routerLink]="['/app/dashboard']">Dashboard</a></li>
          <li class="tab"><a href="#" class="selected" [routerLink]="['/app/students-list']">Institutions</a></li>
          <!-- <li class="tab"><a href="#" [routerLink]="['/app/profile']">Profile</a></li> -->
        </ul>
      </div>
    </div>
  </div>


  <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Analysis in progress...</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <!-- <h3>Modal Body</h3> -->
                <span class="mb-3" *ngIf="progressStage1">Analysing education quality...</span>
                <span class="mb-3" *ngIf="progressStage2">Analysing infrastructure facilities...</span>
                <span class="mb-3" *ngIf="progressStage3">Analysing research opportunities..</span>
                <span class="mb-3" *ngIf="progressStage4">Prophet prediction completed!!</span>
                <img *ngIf="progressStage4" src="assets/icons/idea.svg" class="mt-3" height="80" width="auto" />
                <img *ngIf="!progressStage4" src="assets/loader-heavy.svg" height="100" width="auto" />
            </div>
            <div class="modal-footer">
                <span class="report" *ngIf="flag">Check your results</span>
                <button *ngIf="progressStage4" type="button" class="btn btn-default" data-dismiss="modal" (click)="getDataBasedOnAll()">Click Here</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">History of Predictions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <!-- <h3>Modal Body</h3> -->
                <div class="row" [@cardAnimation3]>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Prediction Date</th>
                                    <th>Prediction Status</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let prediction of predictionDetails">
                                    <td class="subject-name-col">
                                        <!-- <img class="profile-image" src="assets/icons/student.svg"> -->
                                        <!--  {{mark?.subject_name}} -->
                                        <span>{{prediction?.date}}</span>
                                    </td>
                                    <td> <span class="badge status-{{prediction?.status}}" *ngIf="prediction?.status">{{prediction?.status}}</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <span>Did we predict accurately for you?</span>
                    </div>
                    <div class="col-md-8 button-row">
                        <button class="button custom-btn yes" data-dismiss="modal" (click)="showSuccess()">
                                    Yes
                                  </button>
                        <button class="button custom-btn no" data-dismiss="modal" (click)="showFailure()">
                                    No
                                  </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

  <div class="row mb-4">


    <div class="ranking-holder">


      <div class="left-section pl-4 pr-4" [@cardAnimation1]>
        <div class="card table-wrapper mt-4">
          <h4 class="heading">Institutions</h4>
          <button class="button upload-button" class="button upload-button" data-toggle="modal" data-target="#largeModal" (click)="showPrediction();">Predict 2K19</button>
          <button *ngIf="isAdmin == 'true'" class="button upload-button">Upload Data</button>
          <input *ngIf="isAdmin == 'true'" type="file" class="button upload-button transparent" (change) = "uploadFile()" >
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Location</th>
                <th>Rank</th>

              </tr>

            </thead>
            <tbody>
              <tr class="cursor-pointer" *ngFor="let institution of institutionList; let i = index"
                (click)="openDetailsOnRight(institution)" [class.tr-selected]="selectedInstitution?.university == institution.university">
                <td>
                  <img class="profile-image"
                    src="assets/icons/i{{(i+1)%7}}.svg">
                  
                  {{institution?.university}}
                </td>
                <td>{{institution?.univcode}}</td>
                <td>{{institution?.location}}</td>
                <td>{{i+1}}</td>
                <!--  <td>
                  <img class="align-center" src="assets/loader-heavy.svg" *ngIf="!student.prediction" height="30"
                    width="30">
                  <span class="badge status-{{student?.prediction}}"
                    *ngIf="student.prediction">{{student?.prediction}}</span>
                  
                </td> -->
              </tr>
              <tr *ngIf="institutionList?.length == 0 && isLoaded">
                <td colspan="4" class="table-no-data">
                  No data available to display
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="right-section padding-0" [class.show]="isRightSectionOpen">
        <div class="card margin-0 map-wrapper" *ngIf="isRightSectionOpen" [@slideInFromRight]>
          <div class="close-icon" (click)="closeDetailsOnRight()" *ngIf="isRightSectionOpen">
            <img class="close-image" src="assets/icons/close.svg">
          </div>

          <div class="header">
            {{selectedInstitution?.university}}
          </div>
          <div class="progress-container special-margin" *ngIf="selectedInstitution">
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.education" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Education</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.entrepreneurship" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Entrepreneurship</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.research" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Research</h5>
              </div>
              <div class="progress-card" >
                  <okr-progress-bar-circle [setValue]="selectedInstitution?.infrastructure" [size]="85"></okr-progress-bar-circle>
                  <h5 class="text">Infrastructure</h5>
              </div>
              
            </div>

          <div class="map-area">
            <agm-map *ngFor="let data of location; let i=index" [latitude]="data.lat" [longitude]="data.lng">
              <agm-marker *ngFor="let data of location; let i=index" [latitude]="data.lat" [longitude]="data.lng">
              </agm-marker>
            </agm-map>
          </div>

          




        </div>


      </div>
    </div>


  </div>
</div>