.profile-navbar{
    background: #30384c;
    .profile-tabs{
        display: flex;
        align-items: center;
        .tabs-holder{
            padding-left: 10px;
            display: flex;
            margin-bottom: 0;
            .tab{
                display: inline-block;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 70px;
                padding: 0 15px;
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    transition: 200ms ease-out;
                    font-size: 13px;
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        border-bottom: 2px solid #fab63f;
                        transition: 200ms ease-in;
                    }
                    &.selected{
                        border-bottom: 2px solid #fab63f;
                    }
                }
            }
        }
    }
}
.align-center{
    text-align: center;
}

.map-wrapper{
    height: calc(100vh - 70px);
    position: relative;
  .map-area{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
    agm-map {
        height: 300px;
      //  position: absolute;
      //  bottom: 0px;
      }

}

.ranking-holder{
    display: flex;
    position: relative;
    width: 100%;
    .left-section{
        flex: 1;
        transition: 250ms ease-in;
    }

    .right-section{
        flex: 0;
        transition: 250ms ease-in;
        &.show{
            flex: 1;
        }
        .header{
            font-size: 18px;
            font-weight: 400;
            padding: 20px;
            color: #555;
        }

        .close-icon{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            .close-image{
                width: 40px;
                height: auto;
            }
        }
    }
}


  .progress-container{

    display: flex;
    align-items: center;
    justify-content: center;
    
    .progress-card{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 130px;
        .text{
            font-weight: 400;
            padding-top: 10px;
            font-size: 16px;
        }
    }
  }
  
  .tr-selected{
      background: #3498db !important;
      td{
          color: #fff;
      }
  }