<div class="card-row">
  <div class="container-fluid">
    <div class="row card-row-inside">
      <div class="col col-12 col-md-4">
        <div class="card card-col">
          <div class="card-header">Title 1</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
      <div class="col col-12 col-md-4">
        <div class="card card-col">
          <div class="card-header">Title 2</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
      <div class="col col-12 col-md-4">
        <div class="card card-col">
          <div class="card-header">Title 3</div>
          <div class="card-metrics">Something</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chart-row">
  <div class="container-fluid">
    <div class="row chart-row-inside">
      <div class="col col-12 col-md-6">
        <div class="card chart-container">
          <div class="card-header">Chart 1</div>
          <dashboard-chart></dashboard-chart>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <div class="card chart-container">
          <div class="card-header">Chart 2</div>
        </div>
      </div>
    </div>
  </div>
</div>